.repo-list-container {
	flex: 1;
}
.repo-container {
	.repo-name {
		padding-left: 5px;
		position: relative;
		top: 0.32vw;
		display: flex;
		align-items: flex-end;
		.fa-circle {
			font-size: 5px;
			padding-bottom: 0.5vw;
			margin: 0 10px;
		}
		h4 {
			padding-bottom: 0.15vw;
			color: darken(white, 25%);
		}
	}
	.content-container {
		.content {
			font-size: 13px;
			padding-bottom: 10px;
		}
	}
	.content-container:hover {
		background-color: rgba(white, 0.2);
		.content {
			color: black;
		}
		.repo-icons {
			.fas {
				color: black;
			}
			p {
				color: black;
			}
		}
	}
	.repo-icons {
		display: flex;
		justify-content: end;
		font-size: 10px;

		.fas {
			padding: 0 6px 0 13px;
			color: darken(white, 10%);
		}
		p {
			color: darken(white, 25%);
		}
	}
}
