@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oxygen:wght@400;700&display=swap');
////VARIABLES////

$font-header: 'Oxygen', sans-serif;
$font-text: 'Arvo', serif;

// COLORS
$primary-color: #5d6368;
$secondary-color: #b20710;
$light-color: #848484;

$text-color: white;
