@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Oxygen:wght@400;700&display=swap");
.container {
  display: flex;
}

.wrapper {
  margin: 0 5vw;
}

.container2of3 {
  flex: 2;
  display: flex;
}

.container1of3 {
  flex: 1;
  display: flex;
}

.content-container {
  padding: 20px 25px 6px 25px;
  background-color: rgba(93, 99, 104, 0.3);
  border: 2px solid rgba(132, 132, 132, 0.3);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
  margin-bottom: 1vw;
  flex: 1;
}

h6 {
  font-size: 4px;
  font-family: "Oxygen", sans-serif;
}

h5 {
  font-size: 8px;
  font-family: "Oxygen", sans-serif;
}

h4 {
  font-size: 12px;
  font-family: "Oxygen", sans-serif;
}

h3 {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-size: 24px;
  font-family: "Oxygen", sans-serif;
}

nav {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
}

.vl {
  border-left: 3px solid white;
  height: 23px;
  margin: 0px 12px;
  margin-bottom: 3px;
}

.author-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 2.5vw;
  background-color: rgba(93, 99, 104, 0.6);
  border: 2px solid rgba(132, 132, 132, 0.6);
  max-width: 25vw;
  min-height: 500px;
  border-radius: 15px;
  margin: 0 5vw;
}

.author-container .author-info {
  display: flex;
  margin-bottom: 25px;
}

.author-container .author-info .author-header {
  font-size: 2vw;
  margin-left: 16px;
}

.author-container .author-details {
  flex: 1;
  overflow-wrap: anywhere;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-container .author-details li {
  display: flex;
  display: flex;
}

.author-container .author-details li .author-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  font-size: 35px;
}

.author-container .author-details li .icon-description {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.author-container .author-details li .icon-description a {
  text-decoration: none;
}

.author-container .author-details li .icon-description a:hover {
  color: black;
}

.repo-list-container {
  flex: 1;
}

.repo-container .repo-header {
  padding-left: 5px;
  position: relative;
  top: 4.5px;
  display: flex;
  align-items: flex-end;
}

.repo-container .repo-header .fa-circle {
  font-size: 5px;
  margin: 0 10px;
}

.repo-container .repo-header h4 {
  padding-bottom: 2px;
  color: #d9d9d9;
}

.repo-container .content-container .content {
  font-size: 13px;
  padding-bottom: 10px;
}

.repo-container .content-container:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.repo-container .content-container:hover .content {
  color: black;
}

.repo-container .content-container:hover .repo-icons .fas {
  color: black;
}

.repo-container .content-container:hover .repo-icons p {
  color: black;
}

.repo-container .repo-icons {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
}

.repo-container .repo-icons .fas {
  padding: 0 6px 0 13px;
  color: #e6e6e6;
}

.repo-container .repo-icons p {
  font-family: "Oxygen", sans-serif;
  color: #bfbfbf;
}

.commit-list-container {
  flex: 1;
  margin-left: 5vw;
}

.commit-container .commit-header {
  padding-left: 5px;
  position: relative;
  top: 4px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.commit-container .commit-header .commit-name {
  max-width: 450px;
}

.commit-container .commit-header .fa-circle {
  font-size: 5px;
  margin: 0 10px;
}

.commit-container .commit-header h4 {
  padding-bottom: 1.5px;
  color: #d9d9d9;
}

.commit-container .content-container {
  padding: 10px 25px 10px 25px;
  border-color: rgba(178, 7, 16, 0.3);
}

.commit-container .content-container .content {
  font-size: 10px;
}

.commit-container .content-container .user-avatar {
  border-radius: 100%;
  margin-right: 10px;
}

.commit-container .content-container .commiter {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  width: 25vw;
}

.search-bar {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: rgba(93, 99, 104, 0.7);
  border-radius: 10px;
}

.search .fa-search {
  font-size: 25px;
  padding-left: 10px;
}

.search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px 15px;
}

.search .btn {
  width: 15vw;
}

@media only screen and (max-width: 1000px) {
  .container1of3 {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  nav {
    flex-direction: column;
  }
  nav .search {
    width: auto;
  }
  .commit-container .commit-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 450px) {
  .repo-container .repo-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .repo-container .repo-header h2 {
    font-size: 16px;
  }
  .repo-container .content-container .content {
    font-size: 11px;
    padding-bottom: 5px;
  }
  .commit-container .commit-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .commit-container .commit-header .commit-name {
    font-size: 12px;
  }
  .commit-container .commit-header .fa-circle {
    font-size: 5px;
  }
  .commit-container .commit-header h4 {
    font-size: 10px;
  }
  .commit-container .content-container .content {
    font-size: 9px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Arvo", serif;
}

body {
  background-image: url("../../images/nistri.png");
  background-color: #848484;
}

.background {
  position: fixed;
  background-image: linear-gradient(black, rgba(255, 0, 0, 0));
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}
/*# sourceMappingURL=styles.css.map */